@import "tailwindcss";

* {
  font-family: "Source Sans Pro", sans-serif;
}

.nav-font {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.customGray {
  background-color: #f8f8f8;
}